
body {
    background-color: pink;


}

.mainBox {
    background-color: pink;
}

/*4 picture containers- 25% each */
.pictureBox {
    display: inline-flex;

}


/*using flexbox to get pics side-by-side */
.pictures {
    display: inline-flex;


}