body {
    background-color: pink;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*4 picture containers- 25% each */
.pictureBox {
    display: inline-flex;

}


/*using flexbox to get pics side-by-side */
.pictures {
    display: inline-flex;

}

